<<<<<<< HEAD
<body data-spy="scroll" data-target=".nav-menu" data-offset="50">

		<div id="pageloader">   
            <div class="loader-item">
            	<%= image_tag 'loading.gif', alt: 'loader' %>
            </div>
        </div>

	<!-- Home Section -->
	<section id="home" class="nav-link">
	
	<!-- Video Pattern -->
	<div class="home-pattern"></div>
	
		<!-- Full Screen Video -->
		<div id="slides">
			<div class="slides-container">
			
			<!-- Video -->
			<a id="video" class="player video-container" data-property="{videoURL:'pBB2ALATreo',containment:'#slides', showControls:false, autoPlay:true, loop:true, mute:true, startAt:0, opacity:1, addRaster:false, quality:'default'}">My video</a>
			 <!-- End Video -->
			 
			</div>
			
		</div>
		<!-- End Slider Images -->
		
		<!-- Main - Text Slide -->
		<div class=" main">
			
			<!-- Text Slider -->
			<div class="flexslider home-slider">
			
				<!-- Text Slides -->
				<ul class="home-slides">
					<li><span>Amanda & Stephen</span></li>
					<li>Are Getting Married!</li>
					<li><span>May 30, 2015</span></li>
					<li>#allyqwedding</li>
				</ul>
				<!-- End Text Slides -->
				
				<div class="clear"></div>
				
			</div>
			
			<!-- Home Button -->
			<a class="scroll home-button" href="#about">Click to Join Us On Our Journey!</a>
			<!-- End Home Button -->
			
		</div>
		<!-- End Main -->
		
	</section>
	<!-- End Home Section -->
	
	<!-- Navigation Section -->
	<section id="navigation" class="shadow">
	
		<div class="inner navigation">
			
			<!-- Logo Img -->
			<div class="logo">
				<a class="scroll" href="#home"><%= image_tag 'logo.png', alt: "Logo" %></a>
			</div>
			
			<!-- Nav Menu -->
			<div class="nav-menu">
				
				<ul class="nav main-nav">
					<li><a class="scroll" href="#about">where & when</a></li>
					<li><a class="scroll" href="#history">our story</a></li>
					<li><a class="scroll" href="#bridegroom">engagement story</a></li>					
					<li><a class="scroll" href="#team">our team</a></li>
					<li><a class="scroll" href="#hotel">hotel</a></li>
					<li><a class="scroll" href="#registry">Registry</a></li>
					<li><a class="scroll" href="#photos">Photo Gallery</a></li>
					<li><a class="scroll jade" style="color: #128E92;" href="#social">#allyqwedding</a></li>			
				</ul>
				
			</div>
			
			
				<!-- Dropdown Menu For Mobile Devices-->
				<div class="dropdown mobile-drop">
				  <a data-toggle="dropdown" class="mobile-menu" href="#"><i class="fa fa-bars"></i></a>
				  <ul class="nav dropdown-menu fullwidth" role="menu" >
					<li><a class="scroll" href="#home">home</a></li>
					<li><a class="scroll" href="#about">where & when</a></li>
					<li><a class="scroll" href="#history">our story</a></li>
					<li><a class="scroll" href="#bridegroom">the bride & groom</a></li>					
					<li><a class="scroll" href="#team">our team</a></li>
					<li><a class="scroll" href="#hotel">hotel</a></li>
					<li><a class="scroll" href="#register">Registry</a></li>
					<li><a class="scroll" href="#photos">Photo Gallery</a></li>
					<li><a class="scroll" href="#social">#allyqwedding</a></li>	
				  </ul>
				</div>
		
			<div class="clear"></div>
		</div>
	
	</section>
	<!-- End Navigation Section -->
	
	
	<!-- About Section -->
	<section id="about" class="contain nav-link">
		
		<div class="about inner animated" data-animation="flipInY" data-animation-delay="100">
				<center>
				<h1 style="font-size:46px;" class="fancy"><b>May 30, 2015 5:30pm</b></h1>
				<div class="clock" style="margin:2em; margin-left:20%; margin-top:40px;"></div><br /><br />
					<h1 class="fancy"><a href="http://www.watermillcaterers.com" target="_blank" style="margin-top:50px;font-size:35px;"><b>Watermill Caterers</b></a></h1>
					<a href="https://www.google.com/maps/preview?q=711+Smithtown+Bypass+Smithtown,+NY+11787&ie=UTF-8&hq=&hnear=0x89e839ee6c48b8f7:0xd5aab56c734ac1ec,711+Smithtown+Bypass,+Smithtown,+NY+11787&gl=us&ei=V9jvU73HGsz-yQSLl4H4Ag&ved=0CB4Q8gEwAA" target="_blank">711 Smithtown Bypass Smithtown, NY 11787</a>&nbsp;<i class="fa fa-map-marker"></i>
					</center><br /><br />
				<div class="row" style="margin-top:20px;">
					<div class="col-sm-3" style="margin-left:12%;">
						<%= image_tag 'Wedding-Bells.jpg', style: "margin-left:10%;margin-bottom:15px;" %><br/>
						<%= image_tag 'design-top.jpg', style: "width:75%" %>
						<h1 class="fancy" style="margin-left:17%;">Ceremony</h1>
						<p style="margin-left:28%;font-size:30px;" class="fancy">5:30</p>
						<%= image_tag 'design-bottom.jpg', style: "width:75%;" %>
					</div>
					<div class="col-sm-3">
						<%= image_tag 'champagne.jpg', style: "margin-left:16%;margin-bottom:15px;" %>
						<%= image_tag 'design-top.jpg', style: "width:75%" %>
						<h1 class="fancy">Cocktail Hour</h1>
						<p style="margin-left:28%;font-size:30px;" class="fancy">6:30</p>
						<%= image_tag 'design-bottom.jpg', style: "width:75%;" %>
					</div>
					<div class="col-sm-3 offset2">
						<%= image_tag 'dancing.jpg', style: "margin-left:11%;margin-bottom:15px;" %>
						<%= image_tag 'design-top.jpg', style: "width:75%" %>
						<h1 class="fancy" style="margin-left:17%;">Reception</h1>
						<p style="font-size:30px;margin-left:14%;" class="fancy">7:30-12:00</p>
						<%= image_tag 'design-bottom.jpg', style: "width:75%;" %>
					</div>		
				</div>						
				<div class="clear"></div>
		</div>
		
	</section><!-- End About Section -->
	
	<!-- History Section -->
	<section id="history" class="contain parallax1 nav-link">
		
			<div class="inner">
			
				<!-- History Top Icon -->
				<div class="contain-logo br">
					<i class="fa fa-heart "></i>
				</div>
			
				<!-- Header -->
				<div class="header white fancy">
					Our Story
				</div>
				
				<!-- Second Header -->			
					<ul class="timeline list-unstyled">
						
						<!-- History Year -->
						<li class="year">2006</li>
						
						<li class="note animated" data-animation="fadeInRight" data-animation-delay="50">
							<h4>
								The Meet
							</h4>
							<p class="desc">
								Amanda & Stephen met on Facebook back when you needed a college account to join Facebook. They met in the 3 boring weeks before Drexel when Stephen made the first move.
							</p>
							<span class="date">
								SEPTEMBER 13, 2006
							</span>
							
							<span class="arrow fa fa-play"></span>
							
						</li>
						
						<li class="note animated" data-animation="fadeInLeft" data-animation-delay="50">
							<h4>
								The First Day
							</h4>
							<p class="desc">
								Ever since they met on Facebook they had been talking and texting. On the first day of school, they met for the first time and instantly hit it off. They shared their first meal together with their roommates at the dining hall (very romantic!)
							</p>
							<span class="date">
								SEPTEMBER 20, 2006
							</span>
							
							<span class="arrow fa fa-play"></span>
							
						</li>
						
						<li class="note animated" data-animation="fadeInLeft" data-animation-delay="100">
							<h4>
								Dating...the first time around
							</h4>
							<p class="desc">
								Amanda & Stephen did not leave each others side, the two were so  annoyingly inseparable since the first day of school, it was only inevitable that they started dating officially soon after in November 2006
							</p>
							<span class="date">
								NOVEMBER 3, 2006.
							</span>
							
							<span class="arrow fa fa-play"></span>
							
						</li>
						<li class="year">2007</li>
						<li></li>
						<li class="note animated" data-animation="fadeInLeft" data-animation-delay="100">
							<h4>
								2007-2010
							</h4>
							<p class="desc">
								Amanda & Stephen broke up during their sophomore year of college. They were young and in college and focusing on a long term relationship was just not in the cards for them at the time.
							</p>
							<span class="date">
								OCTOBER 2007
							</span>
							
							<span class="arrow fa fa-play"></span>
							
						</li>
						
						<!-- History Year -->
						<li class="year">2011</li>
						
						<li class="note animated" data-animation="fadeInLeft" data-animation-delay="150">
							<h4>
								Back Together!
							</h4>
							<p class="desc">
								Amanda & Stephen remained good friends through the 4 years they were at college. The two would still meet up, hang out, and talk. They realized that there wasn't anyone else in the world for each other, so they got back together at the end of Stephen's senior year in March 2011. 
							</p>
							<span class="date">
								MARCH 16, 2011
							</span>
							
							<span class="arrow fa fa-play"></span>
							
						</li>
						<li class="year">2012</li>
						<li></li>
						<li class="note animated" data-animation="fadeInRight" data-animation-delay="150">
							<h4>
								Grad School & Long Distance
							</h4>
							<p class="desc">
								Amanda decided to get her masters degree from Jefferson University so she could become an Occupational Therapist (someone had to make money in this relationship). She did one of her fieldwork assignments in New York and that put them in a long distance relationship for 6 months. They knew it'd be no problem though, because love prevails!
							</p>
							<span class="date">
								2012
							</span>
							
							<span class="arrow fa fa-play"></span>
							
						</li>
						<li class="year">2013</li>
						<li></li>
						<li class="note animated" data-animation="fadeInRight" data-animation-delay="150">
							<h4>
								Engaged!
							</h4>
							<p class="desc">
								By this point Amanda & Stephen were deeply in love. Stephen knew that he had better get a ring on that finger before Amanda came to her senses! He got down on one knee and asked her to marry him on September 13, 2013!
							</p>
							<span class="date">
								SEPTEMBER 13, 2013
							</span>
							
							<span class="arrow fa fa-play"></span>
							
						</li>
						<li class="year">2015</li>
						<li></li>
						<li class="note animated" data-animation="fadeInRight" data-animation-delay="150">
							<h4>
								Married!
							</h4>
							<p class="desc">
								On May 30, 2015 Amanda & Stephen will be married and celebrate with all their love ones all through the night!!!
							</p>
							<span class="date">
								MAY 30, 2015
							</span>
							
							<span class="arrow fa fa-play"></span>
							
						</li>					
						<!-- Start icon -->
						<li class="start fa fa-bookmark"></li>
						
						<li class="clear"></li>
						
					</ul><!-- End Timeline ul -->
					
			</div><!-- End inner div -->
			
	</section><!-- End History Section -->

	<!-- Amanda's Section -->
	<section id="bridegroom" class="contain nav-link">
		
		<div class="about inner">
				<div class="w-iphone animated" data-animation="fadeInLeft" data-animation-delay="100">
					<%= image_tag 'engagement.jpg', alt: "engagement" %>
				</div>	
				<div class="animated" data-animation="fadeInRight" data-animation-delay="100">
					<div class="bridegroomtitle fancy">Our Engagement Story</div>
						<p>It was the middle of boards studying time for Amanda, but Stephen couldn't wait any longer. He had the ring, now all he needed was the girl. Amanda had been studying all day at the library, but it was Friday, and it was date night! Stephen took her to a gazebo behind the Philadelphia Art Museum where they used to go freshman year of college. Amanda was crazy stressed out from studying, and there was a semi breakdown right before the proposal (of course she couldn't make it easy!)</p><br />
						<p>After a few close calls, Stephen was able to take Amanda to the gazebo in the back over looking Drexel and the Philadelphia skyline. Stephen reminded Amanda that 7 years ago that week they met on Drexel's campus, as he got down on one knee and said  "I knew then that you were someone I'd want in my life forever. I have loved you since I met you. I lost you once, and I never want to lose you again. You're the love of my life and I can't imagine spending my life with anyone else. Will you marry me?" and then she punched him in the shoulder and said ...</p><br /><br/>
						<h1 class="fancy" style="font-size:100px;margin-left:60%;">Yes!</h1>
				</div>
				<div class="clear"></div>
		</div>
		
	</section><!-- End Amanda's Section -->	
<section id="team" class="contain nav-link">
		
			<div class="inner">
			
				<!-- Header -->
				<div class="header fancy">
					Bridesmaids & Groomsmen
				</div>
				
				<div class="works">
				
					<div id="options" class="filter-menu inline">
						<ul id="filters" class="filters option-set" data-option-key="filter">
							<li><a href="#filter" data-option-value=".bridesmaid" class="selected">Bridesmaids</a></li>
							<li><a href="#filter" data-option-value=".groomsmen">Groomsmen</a></li>
							<li><a href="#filter" data-option-value=".best">Best Man & Maid/Matron of Honor</a></li>
							<li><a href="#filter" data-option-value=".flower">Flower Girl</a></li>
							<li><a href="#filter" data-option-value="*" >show all</a></li>
						</ul>
					</div>
					
					<div class="items ">
					
						<div class="work col-xs-4 bridesmaid best college">
							<div class="work-inner">
								<div class="work-img">
									<%= image_tag 'kaitlyn.jpg' %>
									<div class="mask">
										<a class="button zoom" href="assets/kaitlyn.jpg" data-rel="prettyPhoto[gallery]">Kaitlyn O'Connor</a>
									</div>
								</div>
								<div class="work-desc">
									<h4>Matron of Honor</h4>
									<p>How we met: Kaitlyn and Amanda were both health science majors in college; they became friend’s sophomore year when they realized they were both from the best place ever: Long Island. The two call each other mom, because of how close they are and how much they take care of each other… maybe Kaitlyn more than Amanda…</p>
								</div>
							</div>
						</div>
						
						<div class="work col-xs-4 bridesmaid best long">
							<div class="work-inner">
								<div class="work-img">
									<%= image_tag 'michele2.jpg' %>
									<div class="mask">
										<a class="button zoom" href="assets/michele2.jpg"  data-rel="prettyPhoto[gallery]">Michele Lemmo</a>
									</div>
								</div>
								<div class="work-desc">
									<h4>Maid of Honor</h4>
									<p>How we met: 9th grade, Michele was dating a friend of Amanda’s. Michele offered Amanda a ride home after the Bio regents and they instantly hit it off; it was love at first bite. The two have experienced all that life has thrown at them and still remain loyal and eccentric best friends.</p>
								</div>
							</div>
						</div>
						
						<div class="work col-xs-4 bridesmaid long">
							<div class="work-inner">
								<div class="work-img">
									<%= image_tag 'gia.jpg' %>
									<div class="mask">
										<a class="button zoom" href="assets/gia.jpg" data-rel="prettyPhoto[gallery]">Gia Vosilla</a>
									</div>
								</div>
								<div class="work-desc">
									<h4>Bridesmaid</h4>
									<p>How we met: 7th grade, Gia and Amanda pretended to be Monkeys and ran around the school yard, they instantly hit it off and Amanda invited Gia to her Birthday party. They were both weird so they inevitably became best friends</p>
								</div>
							</div>
						</div>
						
						<div class="work col-xs-4 bridesmaid phi college">
							<div class="work-inner">
								<div class="work-img">
									<%= image_tag 'lauren.jpg' %>
									<div class="mask">
										<a class="button zoom" href="assets/lauren.jpg" data-rel="prettyPhoto[gallery]">Lauren Reuther</a>
									</div>
								</div>
								<div class="work-desc">
									<h4>Bridesmaid</h4>
									<p> How we met: Lauren and Amanda were both in Phi Sigma Sigma Sorority, but didn’t become friends until they both went on spring break to Punta Cana in 2010. They both had the same morals and need for going out, the two have been inseparable close friends ever since</p>
								</div>
							</div>
						</div>
						
						<div class="work col-xs-4 design photography family bridesmaid">
							<div class="work-inner">
								<div class="work-img">
									<%= image_tag 'mel.jpg' %>
									<div class="mask">
										<a class="button zoom" href="assets/mel.jpg" data-rel="prettyPhoto[gallery]">Melissa Mohan</a>
									</div>
								</div>
								<div class="work-desc">
									<h4>Bridesmaid</h4>
									<p>How we met: Melissa is Amanda’s older cousin. Melissa has been an older sister to Amanda since she was born. Melissa helped Amanda all through her life through advice, fun, and few slaps and bites along the way.</p>
								</div>
							</div>
						</div>
						
						<div class="work col-xs-4 bridesmaid long">
							<div class="work-inner">
								<div class="work-img">
									<%= image_tag 'kristina.jpg' %>
									<div class="mask">
										<a class="button zoom" href="assets/kristina.jpg" data-rel="prettyPhoto[gallery]">Kristina Mohan</a>
									</div>
								</div>
								<div class="work-desc">
									<h4>Bridesmaid</h4>
									<p>How we met: Mike has been a brother all through Amanda’s life. When Mike introduced Kristina to Amanda, she hoped the two would get along as much as her and Mike did. She was so lucky to not only gain another cousin but a confidant, advice giver, close friend, and thankfully someone else to deal with Mike.</p>
								</div>
							</div>
						</div>

						<div class="work col-xs-4 bridesmaid family">
							<div class="work-inner">
								<div class="work-img">
									<%= image_tag 'marissa.jpg' %>
									<div class="mask">
										<a class="button zoom" href="assets/marissa.jpg" data-rel="prettyPhoto[gallery]">Marissa Bholan</a>
									</div>
								</div>
								<div class="work-desc">
									<h4>Bridesmaid</h4>
									<p>How we met: Amanda and Marissa are 2 weeks apart… actually 1 week and 6 days according to Marissa. The two have grown up together, made up dances to Britney Spears, had epic sleepovers, partied, and have enjoyed each other’s company for the last 26 years.</p>
								</div>
							</div>
						</div>


						<div class="work col-xs-4 bridesmaid college phi">
							<div class="work-inner">
								<div class="work-img">
									<%= image_tag 'chelle.jpg' %>
									<div class="mask">
										<a class="button zoom" href="assets/chelle.jpg" data-rel="prettyPhoto[gallery]">Chellerose Buscarino</a>
									</div>
								</div>
								<div class="work-desc">
									<h4>Bridesmaid</h4>
									<p> How we met: Amanda and Chelle were both sisters of Phi Sigma Sigma. Before they lived in the sorority house, Chelle and Amanda realized they both needed roommates. They asked each other if the other was clean, they both said kind of and the two became roommates!  The two had such a great experience living together and have built so many amazing and crazy memories ever since.</p>
								</div>
							</div>
						</div>

						<div class="work col-xs-4 bridesmaid college">
							<div class="work-inner">
								<div class="work-img">
									<%= image_tag 'sam.jpg' %>
									<div class="mask">
										<a class="button zoom" href="assets/sam.jpg" data-rel="prettyPhoto[gallery]">Samantha Karpinski</a>
									</div>
								</div>
								<div class="work-desc">
									<h4>Bridesmaid</h4>
									<p>How we met: Amanda met some friends on Spring Break senior year of college. Those friends introduced Amanda to Sam, and the two have been great friends since. Both loved Wednesdays at Cavs, Thursday’s at Blockley and trips to Atlantic City. Now the two enjoy basically the same things, but more on an “adult” sporadic levels.</p>
								</div>
							</div>
						</div>

						<div class="work col-xs-4 bridesmaid college">
							<div class="work-inner">
								<div class="work-img">
									<%= image_tag 'suz.jpg' %>
									<div class="mask">
										<a class="button zoom" href="assets/suz.jpg" data-rel="prettyPhoto[gallery]">Suzanne McDonnell</a>
									</div>
								</div>
								<div class="work-desc">
									<h4>Bridesmaid</h4>
									<p>How we met: The same friends that introduced Sam and Amanda, introduced Amanda to Sam’s best friend Suzanne. The two love to talk medical and gross out their fiancés, double date and explore Philadelphia, and of course enjoy glasses of wine while helping each other through life.</p>
								</div>
							</div>
						</div>

						<div class="work col-xs-4 groomsmen best upper">
							<div class="work-inner">
								<div class="work-img">
									<%= image_tag 'josh.jpg' %>
									<div class="mask">
										<a class="button zoom" href="assets/josh.jpg" data-rel="prettyPhoto[gallery]">Josh Kresge</a>
									</div>
								</div>
								<div class="work-desc">
									<h4>Best Man</h4>
									<p>Josh and Steve met in 8th grade. They've been friends pretty much ever since. Through countless fights, slap boxing matches, trips to the shore, football practices and much more, they've remained good friends throughout. Today they work together at a company Josh started while still in college, and they're still not sick of eachother...so that's cool.</p>
								</div>
							</div>
						</div>

						<div class="work col-xs-4 groomsmen family">
							<div class="work-inner">
								<div class="work-img">
									<%= image_tag 'matt.jpg' %>
									<div class="mask">
										<a class="button zoom" href="assets/matt.jpg" data-rel="prettyPhoto[gallery]">Matt Quatrani</a>
									</div>
								</div>
								<div class="work-desc">
									<h4>Groomsman</h4>
									<p>Matt is one of Steve's two older brothers. Whether it was "fighting" in the back yard after watching Ninja turtles together as little kids or getting into a wrestling match this year they have constantly had a brotherly competition that will hopefully never go away. Don't tell Matt this, but Steve wouldn't be the person he is today if it wasn't for Matt, and for that Steve is forever grateful.</p>
								</div>
							</div>
						</div>

						<div class="work col-xs-4 groomsmen family">
							<div class="work-inner">
								<div class="work-img">
									<%= image_tag 'mikeq.jpg' %>
									<div class="mask">
										<a class="button zoom" href="assets/mikeq.jpg" data-rel="prettyPhoto[gallery]">Mike Quatrani</a>
									</div>
								</div>
								<div class="work-desc">
									<h4>Groomsman</h4>
									<p>Mike has always been the bright one in the family (nerd). Steve has learned countless lessons and interesting facts from Mike (although he's not sure if falling out of a tree while Mike was teaching him how to be a spy counts). Nowadays they spend most of their time talking about technology and businesses, while scaring everyone else around them away. It's a fact: a conversation between these 2 can't be completed in less than an hour.</p>
								</div>
							</div>
						</div>

						<div class="work col-xs-4 groomsmen upper">
							<div class="work-inner">
								<div class="work-img">
									<%= image_tag 'shea.jpg' %>
									<div class="mask">
										<a class="button zoom" href="assets/shea.jpg" data-rel="prettyPhoto[gallery]">Shea Wisler</a>
									</div>
								</div>
								<div class="work-desc">
									<h4>Groomsman</h4>
									<p>Shea and Steve have been friends since middle school. They met while playing baseball while his Dad (BGB) was the coach. They've remained friends ever since whether it was shore trips to both of their houses, countless hours of $5 poker games at Shea's house, or partying together in college they have remained close.</p>
								</div>
							</div>
						</div>

						<div class="work col-xs-4 groomsmen tke college">
							<div class="work-inner">
								<div class="work-img">
									<%= image_tag 'kev.jpg' %>
									<div class="mask">
										<a class="button zoom" href="assets/kev.jpg" data-rel="prettyPhoto[gallery]">Kevin Reinhold</a>
									</div>
								</div>
								<div class="work-desc">
									<h4>Groomsman</h4>
									<p>Steve met Kevin freshman year of college when he looked like <a href="http://upload.wikimedia.org/wikipedia/en/8/87/ShaggyRogers.png" target="_blank"><u>this guy</u></a>. They pledged TKE together. The memories and lack there of are too numerous to list with this guy. Trips to AC, memorial day trips to the shore, and countless good times in college. Freshman year was the start of the good times, and from the looks of things they'll never end.</p>
								</div>
							</div>
						</div>

						<div class="work col-xs-4 groomsmen tke college">
							<div class="work-inner">
								<div class="work-img">
									<%= image_tag 'zeoli.jpg' %>
									<div class="mask">
										<a class="button zoom" href="assets/zeoli.jpg" data-rel="prettyPhoto[gallery]">Joe Zeoli</a>
									</div>
								</div>
								<div class="work-desc">
									<h4>Groomsman</h4>
									<p>Joe was a year younger than Steve when he joined TKE. They didn't really know eachother that well for the first couple years, but Joe came down the shore one memorial day weekend and it was a great time. Ever since then they became great friends. Whether it's talking web design, AC trips, or wheelchairs they have had so many good times together they can't remember (again..totally nothing to do with the amount of alcohol drank). BTW If Steve doesn't come back from his bachelor party...it's Joe's fault.</p>
								</div>
							</div>
						</div>

						<div class="work col-xs-4 groomsmen tke college">
							<div class="work-inner">
								<div class="work-img">
									<%= image_tag 'nico.jpg' %>
									<div class="mask">
										<a class="button zoom" href="assets/nico.jpg" data-rel="prettyPhoto[gallery]">Nico Miceli</a>
									</div>
								</div>
								<div class="work-desc">
									<h4>Groomsman</h4>
									<p>Nico, always the resident crazy guy. This guy puts 100% into whatever it is he decides he wants to do at the time. In college that was partying and Wanna drink. This guy would be out at the bar all night, running his college business Wanna Drink Promotions, and then wake up and somehow get to class on time. Now he got into the tech world, he put 110% in and he's now one of the top <a href="https://developers.google.com/experts/+NicoMiceli" target="_blank"><u>Google Analytics Experts</u></a> in the world...what?! Whether it's talking tech, hanging out, or going out and partying it's always a great time to be around Nico.</p>
								</div>
							</div>
						</div>

						<div class="work col-xs-4 groomsmen tke college">
							<div class="work-inner">
								<div class="work-img">
									<%= image_tag 'hall.jpg' %>
									<div class="mask">
										<a class="button zoom" href="assets/hall.jpg" data-rel="prettyPhoto[gallery]">Mike Hall</a>
									</div>
								</div>
								<div class="work-desc">
									<h4>Groomsman</h4>
									<p>Mike is Steve's oldest college friend. They actually met at orientation before college even started. Steve always said he'd never join a fraternity, Mike always wanted to join TKE. Eventually Steve was convinced by Mike and his friend from home that joining was the best option. So, for better or worse Mike is the reason Steve ended up joining TKE, growing as a person, becoming a leader, and having the time of his life. Steve has Mike to thank for all of that and much much more.</p>
								</div>
							</div>
						</div>

						<div class="work col-xs-4 groomsmen ">
							<div class="work-inner">
								<div class="work-img">
									<%= image_tag 'mikem.jpg' %>
									<div class="mask">
										<a class="button zoom" href="assets/mikem.jpg" data-rel="prettyPhoto[gallery]">Mike Mohan</a>
									</div>
								</div>
								<div class="work-desc">
									<h4>Groomsman</h4>
									<p>Mike and Steve would've been friends regardless of if Amanda was around or not. They met when Steve came up to Amanda's house freshman year and they immediately became friends (while Steve was beating "college" Mike in a game of beer pong). Mike is Steve's rock on Amanda's side of the family and he's forever grateful for all his help and all the fun that is to come.</p>
								</div>
							</div>
						</div>

						<div class="work col-xs-4 flower ">
							<div class="work-inner">
								<div class="work-img">
									<%= image_tag 'ash.jpg' %>
									<div class="mask">
										<a class="button zoom" href="assets/ash.jpg" data-rel="prettyPhoto[gallery]">Ashley Ally</a>
									</div>
								</div>
								<div class="work-desc">
									<h4>Flower Girl</h4>
									<p>Stephen and Amanda decided to just have one flower girl, Amanda's sister Ashley! Who better than the coolest and best kid ever?</p>
								</div>
							</div>
						</div>

						<div class="clear"></div>
					
					</div>
				
				</div>
				
			</div>	
	
	</section>
	
	<!--Contact Section -->
	<section id="hotel" class="contain nav-link">
				
			
				<!--Contact Form -->
				<div class="contact-form">
					<h2 style="color:white;">Hotel #1 <br /> All booked up!</h2>
					<a href="http://hiltongardeninn3.hilton.com/en/hotels/new-york/hilton-garden-inn-stony-brook-ISPSBGI/index.html" target="_blank"><img src="http://hiltongardeninn3.hilton.com/skins/en_US/GI/img/logo_brand_GI.png" /></a>
					<p style="color:white;font-size:24px;padding-top:15px;">Address:</p>
					<a href="https://www.google.com/maps/place/1+Circle+Rd,+Stony+Brook+University,+Stony+Brook,+NY+11790/@40.9136854,-73.1182355,17z/data=!3m1!4b1!4m2!3m1!1s0x89e83f2dfc8ff1ed:0x316a1ddcc4e2ee32" target="_blank">
						<p style="color:white;">1 Circle Road</p>
						<p style="color:white;">Stony Brook, New York, 11794</p>
					</a>
						<a href="tel:+16319412980" style="color:white;">(631) 941-2980</a>
					

					<h2 style="color:white;">Hotel #2</h2>
					<a href="http://www.ihg.com/holidayinnexpress/hotels/us/en/hauppauge/hpgny/hoteldetail" target="_blank"><img src="http://prodcache.internal.ihg.com/content/dam/etc/media_library/branded/ex/cn/logos/headerLogo.png" /></a>
					<p style="color:white;font-size:24px;padding-top:15px;">Address:</p>
					<a href="https://www.google.com/maps/place/2050+Express+Dr+S,+Hauppauge,+NY+11788/@40.8076384,-73.221345,17z/data=!3m1!4b1!4m2!3m1!1s0x89e830fb1291f3a9:0x2f691bdd57c00ebf" target="_blank">
						<p style="color:white;">2050 Express Drive South, </p>
						<p style="color:white;">Hauppauge, NY 11788</p>
					</a>
					<a href="tel:+16313481400" style="color:white;">(631) 348-1400</a>

					<p style="color:white;font-size:24px;padding-top:15px;">Room Block:</p>
					<p style="color:white;">We have a room block at both hotels for Friday May 29th and Saturday May 30th. When you call, the room block is under "AQW" or you can use our last names to get the rate.</p>
					<p style="color:white;font-size:24px;padding-top:15px;">Transportation:</p>
					<p style="color:white;">A bus will run from the both hotels to the venue before the ceremony and from the venue to each hotel at the end of the night.</p>
				</div><!-- End Contact Form -->
			
				<!-- Contact Top Icon -->
				<div class="contain-logo contact-logo">
					<i class="fa fa-map-marker "></i>
				</div>
				
			<!-- Google Map -->
			
			<div id="map"></div>
			<!-- End Google Map -->
			
	</section><!-- End Contact Section -->	

	<div class="inner services bottom-bg" style="margin-top:30px;">
		
			<div id="carousel-example-generic" class="carousel slide slide-s" data-ride="carousel">
			  <!-- Indicators -->
			 

			  <!-- Wrapper for slides -->
			  <div class="carousel-inner service-text" style="height:250px;">
				<div class="item active">
					<%= image_tag 'airplane.jpg' %>
				</div>

				<div class="item">
					<%= image_tag 'suitcase.jpg' %>
				</div>	

				<div class="item">
					<%= image_tag 'world.jpg' %>
				</div>	

				<div class="item">
					<%= image_tag 'passports.jpg' %>
				</div>	
			  </div>

			  <!-- Controls -->

			</div>
	</div>		
	<section id="registry" class="contain parallax nav-link">
		
			<div class="inner">
			
				<!-- why-wisten Top Icon -->
				<div class="contain-logo br">
					<i class="fa fa-gift "></i>
				</div>
				<div class="header fancy">
					Bridal Shower Registry
				</div><br />
				<!-- Iphone images -->
				<div class="w-iphone animated" data-animation="fadeInLeft" data-animation-delay="100">
					<%= image_tag 'glasses.jpg' %>
				</div>
				<div class="animated" data-animation="fadeInRight" data-animation-delay="100">
				<p style="font-size:46px;" class="honeymoontitle">Honeymoon <span>Registry</span></p><br />
				  <div class="accordion" id="accordion2" style="height:450px;">
				  	<div class="accordion-head" style="margin-bottom:15%;"></div>
					<a href="https://www.wanderable.com/hm/AllyQhoneymoon" target="_blank"><%= image_tag "registry.png", style: "margin-top:10%;margin-left:17%;" %></a>
					<p style="margin-top:30%; margin-left:28%;"><a href="https://www.wanderable.com/hm/AllyQhoneymoon" target="_blank"><b>(Click here to go to registry)</a></b></p>
				  </div>
				</div>
				<div class="clear"></div>
			</div>	
	
	</section>
	<br /><br /><br /><br />
	<div class="contain-logo br">
		<i class="fa fa-camera "></i>
	</div>
	<div class="header fancy contain nav-link" id="photos">
		Photo Gallery
	</div><br />
	<section id="photostack-3" class="photostack">
		<div>
			<figure>
				<a href="#" class="photostack-img"><%= image_tag 'dummy5.jpg' %></a>
				<figcaption>
					<h2 class="photostack-title">Phi Sig Formal Freshman year</h2>
					<div class="photostack-back">
						<p>This would be first of many Phi Sig formal's and man what a fun night it was. We were young, in love, in college. Life was carefree and great!</p>
					</div>
				</figcaption>
			</figure>
			<figure>
				<a href="#" class="photostack-img"><%= image_tag 'dummy2.jpg' %></a>
				<figcaption>
					<h2 class="photostack-title">Chug!</h2>
					<div class="photostack-back">
						<p>Erin Express is always an interesting time. Amanda and I know how to celebrate the holiday. Together or not we always met up and had a drink and always had fun.</p>
					</div>
				</figcaption>
			</figure>
			<figure>
				<a href="#" class="photostack-img"><%= image_tag 'dummy3.jpg' %></a>
				<figcaption>
					<h2 class="photostack-title">First Picture</h2>
					<div class="photostack-back">
						<p>This was one of our first nights at Drexel. We were hanging out with a couple friends before trying out the whole college party scene. I earned the nickname "Cheek Kissing Bandit" for this picture, but it didn't matter. I knew I met an amazing person.</p>
					</div>
				</figcaption>
			</figure>
			<figure>
				<a href="#" class="photostack-img"><%= image_tag 'dummy1.jpg' %></a>
				<figcaption>
					<h2 class="photostack-title">Ash and Us</h2>
					<div class="photostack-back">
						<p>After getting engaged we drove up to New York that Sunday to celebrate with Amanda's family. Ash was there to help us celebrate and we can't wait to have her as our flower girl!</p>
					</div>
				</figcaption>
			</figure>
			<figure>
				<a href="#" class="photostack-img"><%= image_tag 'dummy4.jpg' %></a>
				<figcaption>
					<h2 class="photostack-title">TKE Formal Freshman Year</h2>
					<div class="photostack-back">
						<p>This was our first of many formals together. It was a night of a lot of fun...although I don't think either of us remember enough to tell you...because of time gone by. Not the obscene amount of alcohol drank that night ;)</p>
					</div>
				</figcaption>
			</figure>
			<figure>
				<a href="#" class="photostack-img"><%= image_tag 'dummy6.jpg' %></a>
				<figcaption>
					<h2 class="photostack-title">Freshman Summer</h2>
					<div class="photostack-back">
						<p>This would be our last Summer ever! We each went our seperate way, but we had frequent trips to see eachother. How could I stay away from her for that long? This was a great end to a great weekend, watching the sunset together on the beach!</p>
					</div>
				</figcaption>
			</figure>
			<figure>
				<a href="#" class="photostack-img"><%= image_tag '7.jpg' %></a>
				<figcaption>
					<h2 class="photostack-title">TKE Senior Formal</h2>
					<div class="photostack-back">
						<p>By this point we knew eachother pretty well, and there was no holding back. All the weirdness came out, and this picture perfectly captures that.</p>
					</div>
				</figcaption>
			</figure>
			<figure data-dummy>
				<a href="#" class="photostack-img"><%= image_tag '8.jpg' %></a>
				<figcaption>
					<h2 class="photostack-title">TKE Sophomore Formal</h2>
				</figcaption>
			</figure>
			<figure>
				<a href="#" class="photostack-img"><%= image_tag '9.jpg' %></a>
				<figcaption>
					<h2 class="photostack-title">Italy</h2>
					<div class="photostack-back">
						<p>A month after getting engaged (and after Amanda thankfully passed her boards!) Amanda and Stephen took a trip to Italy. The airline lost our luggage, but it was still an amazing trip!</p>
					</div>
				</figcaption>
			</figure>
			<figure>
				<a href="#" class="photostack-img"><%= image_tag '10.jpg' %></a>
				<figcaption>
					<h2 class="photostack-title">Road Trip</h2>
					<div class="photostack-back">
						<p>Amanda took a field work at St. Judes in Memphis, and her family invited us on vacation in Disney around the same time. This meant one thing: ROAD TRIP! They took off and for 3 weeks drove around the South Eastern U.S. It was awesome!</p>
					</div>
				</figcaption>
			</figure>
			<figure data-dummy>
				<a href="#" class="photostack-img"><%= image_tag '11.jpg' %></a>
				<figcaption>
					<h2 class="photostack-title">Champagne to Celebrate!</h2>
				</figcaption>
			</figure>
			<figure data-dummy>
				<a href="#" class="photostack-img"><%= image_tag '12.jpg' %></a>
				<figcaption>
					<h2 class="photostack-title">Fun in the Ocean</h2>
				</figcaption>
			</figure>
			<figure data-dummy>
				<a href="#" class="photostack-img"><%= image_tag '14.jpg' %></a>
				<figcaption>
					<h2 class="photostack-title">Beer Olympics Fun</h2>
				</figcaption>
			</figure>
			<figure>
				<a href="#" class="photostack-img"><%= image_tag '15.jpg' %></a>
				<figcaption>
					<h2 class="photostack-title">The Girls at Beer Olympics</h2>
				</figcaption>
			</figure>
			<figure>
				<a href="#" class="photostack-img"><%= image_tag '16.jpg' %></a>
				<figcaption>
					<h2 class="photostack-title">The Guys at Beer Olympics</h2>
				</figcaption>
			</figure>
		</div>
		<div class="clear"></div>
	</section>
	<section id="social" class="description">

	<center>
		<h1 class="hashtag"><a href="http://ctt.ec/1fUea" target="_blank">#allyqwedding</a></h1>
		<p class="join">(Use our wedding hashtag when you instagram so we can have all our pictures memories here!)</p>

	</center>


	
	<div id="ig-container" class="js-masonry" data-masonry-options='{ "itemSelector": ".insta" }'>
	    <% @tags[0..20].each do |t| %>
			<div class="insta">
				<div class="insta-inner">
		          <div class="insta-user">
		            <%= link_to image_tag(t["user"]["profile_picture"]), "https://instagram.com/" + t["user"]["username"], target: "_blank" %>
		            <%= link_to t["user"]["username"], "https://instagram.com/" + t["user"]["username"], target: "_blank" %>
		            <%= link_to time_ago_in_words(Time.at(t["created_time"].to_i)) + " ago", "https://instagram.com/" + t["user"]["username"], target: "_blank", class: "pull-right"  %>
		          </div>
					<div class="insta-img">
		            <%= link_to image_tag(t["images"]["standard_resolution"]["url"]), t["link"], target: "_blank" %>
				    </div>
				    <div class="insta-desc">
		              <% t["tags"].each do |i| %>
		              <%= link_to "#" + i, "https://instagram.com/explore/tags/#{i}", target: "_blank" %>
		              <% end %>
				    </div>
				</div>
			</div>
	    <% end %>
	</div>
   

	</section>
	<section id="onceuponatime" class="contain nav-link">
		<%= image_tag 'onceuponatime.jpg' %>		
	</section><!-- End History Section -->
	
	<!-- Back To Top Button -->
	<section id="back-top">
		<a href="#home" class="scroll"></a>
	</section>
	<!-- End Back To Top Button -->

<%= javascript_include_tag 'flipclock.min.js' %>


	<script type="text/javascript">
			// Instantiate a coutdown FlipClock
			var clock = jQuery('.clock').FlipClock(new Date(Date.UTC(2015,4,30,17.5)).getTime() / 1000 - new Date().getTime() / 1000, {
				clockFace: 'DailyCounter',
				countdown: true
			});
	</script>

	<script>
		new Photostack( document.getElementById( 'photostack-3' ), {
			callback : function( item ) {
				//console.log(item)
			}
		} );
	</script>
	 <!-- End JS Files -->

	<script type="text/javascript"
	  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZvC1RcpqpTK8BWlNZP4ChTNALr8fNHhA">
	</script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-54327274-1', 'auto');
	  ga('send', 'pageview');

=======
<body data-spy="scroll" data-target=".nav-menu" data-offset="50">



	<!-- Home Section -->
	<section id="home" class="nav-link">
	
	<!-- Video Pattern -->
	<div class="home-pattern"></div>
	
		<!-- Full Screen Video -->
		<div id="slides">
			<div class="slides-container">
			
			<!-- Video -->
			<a id="video" class="player video-container" data-property="{videoURL:'pBB2ALATreo',containment:'#slides', showControls:false, autoPlay:true, loop:true, mute:true, startAt:0, opacity:1, addRaster:false, quality:'default'}">My video</a>
			 <!-- End Video -->
			 
			</div>
			
		</div>
		<!-- End Slider Images -->
		
		<!-- Main - Text Slide -->
		<div class=" main">
			
			<!-- Text Slider -->
			<div class="flexslider home-slider">
			
				<!-- Text Slides -->
				<ul class="home-slides">
					<li><span>Amanda & Stephen</span></li>
					<li>Are Getting Married!</li>
					<li><span>May 30, 2015</span></li>
					<li>#allyqwedding</li>
				</ul>
				<!-- End Text Slides -->
				
				<div class="clear"></div>
				
			</div>
			
			<!-- Home Button -->
			<a class="scroll home-button" href="#about">Click to Join Us On Our Journey!</a>
			<!-- End Home Button -->
			
		</div>
		<!-- End Main -->
		
	</section>
	<!-- End Home Section -->
	
	<!-- Navigation Section -->
	<section id="navigation" class="shadow">
	
		<div class="inner navigation">
			
			<!-- Logo Img -->
			<div class="logo">
				<a class="scroll" href="#home"><%= image_tag 'logo.png', alt: "Logo" %></a>
			</div>
			
			<!-- Nav Menu -->
			<div class="nav-menu">
				
				<ul class="nav main-nav">
					<li><a class="scroll" href="#about">where & when</a></li>
					<li><a class="scroll" href="#history">our story</a></li>
					<li><a class="scroll" href="#bridegroom">engagement story</a></li>					
					<li><a class="scroll" href="#team">our team</a></li>
					<li><a class="scroll" href="#hotel">hotel</a></li>
					<li><a class="scroll" href="#registry">Registry</a></li>
					<li><a class="scroll" href="#photos">Photo Gallery</a></li>
					<li><a class="scroll jade" style="color: #128E92;" href="#social">#allyqwedding</a></li>			
				</ul>
				
			</div>
			
			
				<!-- Dropdown Menu For Mobile Devices-->
				<div class="dropdown mobile-drop">
				  <a data-toggle="dropdown" class="mobile-menu" href="#"><i class="fa fa-bars"></i></a>
				  <ul class="nav dropdown-menu fullwidth" role="menu" >
					<li><a class="scroll" href="#home">home</a></li>
					<li><a class="scroll" href="#about">where & when</a></li>
					<li><a class="scroll" href="#history">our story</a></li>
					<li><a class="scroll" href="#bridegroom">the bride & groom</a></li>					
					<li><a class="scroll" href="#team">our team</a></li>
					<li><a class="scroll" href="#hotel">hotel</a></li>
					<li><a class="scroll" href="#register">Registry</a></li>
					<li><a class="scroll" href="#photos">Photo Gallery</a></li>
					<li><a class="scroll" href="#social">#allyqwedding</a></li>	
				  </ul>
				</div>
		
			<div class="clear"></div>
		</div>
	
	</section>
	<!-- End Navigation Section -->
	
	
	<!-- About Section -->
	<section id="about" class="contain nav-link">
		
		<div class="about inner animated" data-animation="flipInY" data-animation-delay="100">
				<center>
				<h1 style="font-size:46px;" class="fancy"><b>May 30, 2015 5:30pm</b></h1>
				<div class="clock" style="margin:2em; margin-left:20%; margin-top:40px;"></div><br /><br />
					<h1 class="fancy"><a href="http://www.watermillcaterers.com" target="_blank" style="margin-top:50px;font-size:35px;"><b>Watermill Caterers</b></a></h1>
					<a href="https://www.google.com/maps/preview?q=711+Smithtown+Bypass+Smithtown,+NY+11787&ie=UTF-8&hq=&hnear=0x89e839ee6c48b8f7:0xd5aab56c734ac1ec,711+Smithtown+Bypass,+Smithtown,+NY+11787&gl=us&ei=V9jvU73HGsz-yQSLl4H4Ag&ved=0CB4Q8gEwAA" target="_blank">711 Smithtown Bypass Smithtown, NY 11787</a>&nbsp;<i class="fa fa-map-marker"></i>
					</center><br /><br />
				<div class="row" style="margin-top:20px;">
					<div class="col-sm-3" style="margin-left:12%;">
						<%= image_tag 'Wedding-Bells.jpg', style: "margin-left:10%;margin-bottom:15px;" %><br/>
						<%= image_tag 'design-top.jpg', style: "width:75%" %>
						<h1 class="fancy" style="margin-left:17%;">Ceremony</h1>
						<p style="margin-left:28%;font-size:30px;" class="fancy">5:30</p>
						<%= image_tag 'design-bottom.jpg', style: "width:75%;" %>
					</div>
					<div class="col-sm-3">
						<%= image_tag 'champagne.jpg', style: "margin-left:16%;margin-bottom:15px;" %>
						<%= image_tag 'design-top.jpg', style: "width:75%" %>
						<h1 class="fancy">Cocktail Hour</h1>
						<p style="margin-left:28%;font-size:30px;" class="fancy">6:30</p>
						<%= image_tag 'design-bottom.jpg', style: "width:75%;" %>
					</div>
					<div class="col-sm-3 offset2">
						<%= image_tag 'dancing.jpg', style: "margin-left:11%;margin-bottom:15px;" %>
						<%= image_tag 'design-top.jpg', style: "width:75%" %>
						<h1 class="fancy" style="margin-left:17%;">Reception</h1>
						<p style="font-size:30px;margin-left:14%;" class="fancy">7:30-12:00</p>
						<%= image_tag 'design-bottom.jpg', style: "width:75%;" %>
					</div>		
				</div>						
				<div class="clear"></div>
		</div>
		
	</section><!-- End About Section -->
	
	<!-- History Section -->
	<section id="history" class="contain parallax1 nav-link">
		
			<div class="inner">
			
				<!-- History Top Icon -->
				<div class="contain-logo br">
					<i class="fa fa-heart "></i>
				</div>
			
				<!-- Header -->
				<div class="header white fancy">
					Our Story
				</div>
				
				<!-- Second Header -->			
					<ul class="timeline list-unstyled">
						
						<!-- History Year -->
						<li class="year">2006</li>
						
						<li class="note animated" data-animation="fadeInRight" data-animation-delay="50">
							<h4>
								The Meet
							</h4>
							<p class="desc">
								Amanda & Stephen met on Facebook back when you needed a college account to join Facebook. They met in the 3 boring weeks before Drexel when Stephen made the first move.
							</p>
							<span class="date">
								SEPTEMBER 13, 2006
							</span>
							
							<span class="arrow fa fa-play"></span>
							
						</li>
						
						<li class="note animated" data-animation="fadeInLeft" data-animation-delay="50">
							<h4>
								The First Day
							</h4>
							<p class="desc">
								Ever since they met on Facebook they had been talking and texting. On the first day of school, they met for the first time and instantly hit it off. They shared their first meal together with their roommates at the dining hall (very romantic!)
							</p>
							<span class="date">
								SEPTEMBER 20, 2006
							</span>
							
							<span class="arrow fa fa-play"></span>
							
						</li>
						
						<li class="note animated" data-animation="fadeInLeft" data-animation-delay="100">
							<h4>
								Dating...the first time around
							</h4>
							<p class="desc">
								Amanda & Stephen did not leave each others side, the two were so  annoyingly inseparable since the first day of school, it was only inevitable that they started dating officially soon after in November 2006
							</p>
							<span class="date">
								NOVEMBER 3, 2006.
							</span>
							
							<span class="arrow fa fa-play"></span>
							
						</li>
						<li class="year">2007</li>
						<li></li>
						<li class="note animated" data-animation="fadeInLeft" data-animation-delay="100">
							<h4>
								2007-2010
							</h4>
							<p class="desc">
								Amanda & Stephen broke up during their sophomore year of college. They were young and in college and focusing on a long term relationship was just not in the cards for them at the time.
							</p>
							<span class="date">
								OCTOBER 2007
							</span>
							
							<span class="arrow fa fa-play"></span>
							
						</li>
						
						<!-- History Year -->
						<li class="year">2011</li>
						
						<li class="note animated" data-animation="fadeInLeft" data-animation-delay="150">
							<h4>
								Back Together!
							</h4>
							<p class="desc">
								Amanda & Stephen remained good friends through the 4 years they were at college. The two would still meet up, hang out, and talk. They realized that there wasn't anyone else in the world for each other, so they got back together at the end of Stephen's senior year in March 2011. 
							</p>
							<span class="date">
								MARCH 16, 2011
							</span>
							
							<span class="arrow fa fa-play"></span>
							
						</li>
						<li class="year">2012</li>
						<li></li>
						<li class="note animated" data-animation="fadeInRight" data-animation-delay="150">
							<h4>
								Grad School & Long Distance
							</h4>
							<p class="desc">
								Amanda decided to get her masters degree from Jefferson University so she could become an Occupational Therapist (someone had to make money in this relationship). She did one of her fieldwork assignments in New York and that put them in a long distance relationship for 6 months. They knew it'd be no problem though, because love prevails!
							</p>
							<span class="date">
								2012
							</span>
							
							<span class="arrow fa fa-play"></span>
							
						</li>
						<li class="year">2013</li>
						<li></li>
						<li class="note animated" data-animation="fadeInRight" data-animation-delay="150">
							<h4>
								Engaged!
							</h4>
							<p class="desc">
								By this point Amanda & Stephen were deeply in love. Stephen knew that he had better get a ring on that finger before Amanda came to her senses! He got down on one knee and asked her to marry him on September 13, 2013!
							</p>
							<span class="date">
								SEPTEMBER 13, 2013
							</span>
							
							<span class="arrow fa fa-play"></span>
							
						</li>
						<li class="year">2015</li>
						<li></li>
						<li class="note animated" data-animation="fadeInRight" data-animation-delay="150">
							<h4>
								Married!
							</h4>
							<p class="desc">
								On May 30, 2015 Amanda & Stephen will be married and celebrate with all their love ones all through the night!!!
							</p>
							<span class="date">
								MAY 30, 2015
							</span>
							
							<span class="arrow fa fa-play"></span>
							
						</li>					
						<!-- Start icon -->
						<li class="start fa fa-bookmark"></li>
						
						<li class="clear"></li>
						
					</ul><!-- End Timeline ul -->
					
			</div><!-- End inner div -->
			
	</section><!-- End History Section -->

	<!-- Amanda's Section -->
	<section id="bridegroom" class="contain nav-link">
		
		<div class="about inner">
				<div class="w-iphone animated" data-animation="fadeInLeft" data-animation-delay="100">
					<%= image_tag 'engagement.jpg', alt: "engagement" %>
				</div>	
				<div class="animated" data-animation="fadeInRight" data-animation-delay="100">
					<div class="bridegroomtitle fancy">Our Engagement Story</div>
						<p>It was the middle of boards studying time for Amanda, but Stephen couldn't wait any longer. He had the ring, now all he needed was the girl. Amanda had been studying all day at the library, but it was Friday, and it was date night! Stephen took her to a gazebo behind the Philadelphia Art Museum where they used to go freshman year of college. Amanda was crazy stressed out from studying, and there was a semi breakdown right before the proposal (of course she couldn't make it easy!)</p><br />
						<p>After a few close calls, Stephen was able to take Amanda to the gazebo in the back over looking Drexel and the Philadelphia skyline. Stephen reminded Amanda that 7 years ago that week they met on Drexel's campus, as he got down on one knee and said  "I knew then that you were someone I'd want in my life forever. I have loved you since I met you. I lost you once, and I never want to lose you again. You're the love of my life and I can't imagine spending my life with anyone else. Will you marry me?" and then she punched him in the shoulder and said ...</p><br /><br/>
						<h1 class="fancy" style="font-size:100px;margin-left:60%;">Yes!</h1>
				</div>
				<div class="clear"></div>
		</div>
		
	</section><!-- End Amanda's Section -->	
<section id="team" class="contain nav-link">
		
			<div class="inner">
			
				<!-- Header -->
				<div class="header fancy">
					Bridesmaids & Groomsmen
				</div>
				
				<div class="works">
				
					<div id="options" class="filter-menu inline">
						<ul id="filters" class="filters option-set" data-option-key="filter">
							<li><a href="#filter" data-option-value=".bridesmaid" class="selected">Bridesmaids</a></li>
							<li><a href="#filter" data-option-value=".groomsmen">Groomsmen</a></li>
							<li><a href="#filter" data-option-value=".best">Best Man & Maid/Matron of Honor</a></li>
							<li><a href="#filter" data-option-value=".flower">Flower Girl</a></li>
							<li><a href="#filter" data-option-value="*" >show all</a></li>
						</ul>
					</div>
					
					<div class="items ">
					
						<div class="work col-xs-4 bridesmaid best college">
							<div class="work-inner">
								<div class="work-img">
									<%= image_tag 'kaitlyn.jpg' %>
									<div class="mask">
										<a class="button zoom" href="assets/kaitlyn.jpg" data-rel="prettyPhoto[gallery]">Kaitlyn O'Connor</a>
									</div>
								</div>
								<div class="work-desc">
									<h4>Matron of Honor</h4>
									<p>How we met: Kaitlyn and Amanda were both health science majors in college; they became friend’s sophomore year when they realized they were both from the best place ever: Long Island. The two call each other mom, because of how close they are and how much they take care of each other… maybe Kaitlyn more than Amanda…</p>
								</div>
							</div>
						</div>
						
						<div class="work col-xs-4 bridesmaid best long">
							<div class="work-inner">
								<div class="work-img">
									<%= image_tag 'michele2.jpg' %>
									<div class="mask">
										<a class="button zoom" href="assets/michele2.jpg"  data-rel="prettyPhoto[gallery]">Michele Lemmo</a>
									</div>
								</div>
								<div class="work-desc">
									<h4>Maid of Honor</h4>
									<p>How we met: 9th grade, Michele was dating a friend of Amanda’s. Michele offered Amanda a ride home after the Bio regents and they instantly hit it off; it was love at first bite. The two have experienced all that life has thrown at them and still remain loyal and eccentric best friends.</p>
								</div>
							</div>
						</div>
						
						<div class="work col-xs-4 bridesmaid long">
							<div class="work-inner">
								<div class="work-img">
									<%= image_tag 'gia.jpg' %>
									<div class="mask">
										<a class="button zoom" href="assets/gia.jpg" data-rel="prettyPhoto[gallery]">Gia Vosilla</a>
									</div>
								</div>
								<div class="work-desc">
									<h4>Bridesmaid</h4>
									<p>How we met: 7th grade, Gia and Amanda pretended to be Monkeys and ran around the school yard, they instantly hit it off and Amanda invited Gia to her Birthday party. They were both weird so they inevitably became best friends</p>
								</div>
							</div>
						</div>
						
						<div class="work col-xs-4 bridesmaid phi college">
							<div class="work-inner">
								<div class="work-img">
									<%= image_tag 'lauren.jpg' %>
									<div class="mask">
										<a class="button zoom" href="assets/lauren.jpg" data-rel="prettyPhoto[gallery]">Lauren Reuther</a>
									</div>
								</div>
								<div class="work-desc">
									<h4>Bridesmaid</h4>
									<p> How we met: Lauren and Amanda were both in Phi Sigma Sigma Sorority, but didn’t become friends until they both went on spring break to Punta Cana in 2010. They both had the same morals and need for going out, the two have been inseparable close friends ever since</p>
								</div>
							</div>
						</div>
						
						<div class="work col-xs-4 design photography family bridesmaid">
							<div class="work-inner">
								<div class="work-img">
									<%= image_tag 'mel.jpg' %>
									<div class="mask">
										<a class="button zoom" href="assets/mel.jpg" data-rel="prettyPhoto[gallery]">Melissa Mohan</a>
									</div>
								</div>
								<div class="work-desc">
									<h4>Bridesmaid</h4>
									<p>How we met: Melissa is Amanda’s older cousin. Melissa has been an older sister to Amanda since she was born. Melissa helped Amanda all through her life through advice, fun, and few slaps and bites along the way.</p>
								</div>
							</div>
						</div>
						
						<div class="work col-xs-4 bridesmaid long">
							<div class="work-inner">
								<div class="work-img">
									<%= image_tag 'kristina.jpg' %>
									<div class="mask">
										<a class="button zoom" href="assets/kristina.jpg" data-rel="prettyPhoto[gallery]">Kristina Mohan</a>
									</div>
								</div>
								<div class="work-desc">
									<h4>Bridesmaid</h4>
									<p>How we met: Mike has been a brother all through Amanda’s life. When Mike introduced Kristina to Amanda, she hoped the two would get along as much as her and Mike did. She was so lucky to not only gain another cousin but a confidant, advice giver, close friend, and thankfully someone else to deal with Mike.</p>
								</div>
							</div>
						</div>

						<div class="work col-xs-4 bridesmaid family">
							<div class="work-inner">
								<div class="work-img">
									<%= image_tag 'marissa.jpg' %>
									<div class="mask">
										<a class="button zoom" href="assets/marissa.jpg" data-rel="prettyPhoto[gallery]">Marissa Bholan</a>
									</div>
								</div>
								<div class="work-desc">
									<h4>Bridesmaid</h4>
									<p>How we met: Amanda and Marissa are 2 weeks apart… actually 1 week and 6 days according to Marissa. The two have grown up together, made up dances to Britney Spears, had epic sleepovers, partied, and have enjoyed each other’s company for the last 26 years.</p>
								</div>
							</div>
						</div>


						<div class="work col-xs-4 bridesmaid college phi">
							<div class="work-inner">
								<div class="work-img">
									<%= image_tag 'chelle.jpg' %>
									<div class="mask">
										<a class="button zoom" href="assets/chelle.jpg" data-rel="prettyPhoto[gallery]">Chellerose Buscarino</a>
									</div>
								</div>
								<div class="work-desc">
									<h4>Bridesmaid</h4>
									<p> How we met: Amanda and Chelle were both sisters of Phi Sigma Sigma. Before they lived in the sorority house, Chelle and Amanda realized they both needed roommates. They asked each other if the other was clean, they both said kind of and the two became roommates!  The two had such a great experience living together and have built so many amazing and crazy memories ever since.</p>
								</div>
							</div>
						</div>

						<div class="work col-xs-4 bridesmaid college">
							<div class="work-inner">
								<div class="work-img">
									<%= image_tag 'sam.jpg' %>
									<div class="mask">
										<a class="button zoom" href="assets/sam.jpg" data-rel="prettyPhoto[gallery]">Samantha Karpinski</a>
									</div>
								</div>
								<div class="work-desc">
									<h4>Bridesmaid</h4>
									<p>How we met: Amanda met some friends on Spring Break senior year of college. Those friends introduced Amanda to Sam, and the two have been great friends since. Both loved Wednesdays at Cavs, Thursday’s at Blockley and trips to Atlantic City. Now the two enjoy basically the same things, but more on an “adult” sporadic levels.</p>
								</div>
							</div>
						</div>

						<div class="work col-xs-4 bridesmaid college">
							<div class="work-inner">
								<div class="work-img">
									<%= image_tag 'suz.jpg' %>
									<div class="mask">
										<a class="button zoom" href="assets/suz.jpg" data-rel="prettyPhoto[gallery]">Suzanne McDonnell</a>
									</div>
								</div>
								<div class="work-desc">
									<h4>Bridesmaid</h4>
									<p>How we met: The same friends that introduced Sam and Amanda, introduced Amanda to Sam’s best friend Suzanne. The two love to talk medical and gross out their fiancés, double date and explore Philadelphia, and of course enjoy glasses of wine while helping each other through life.</p>
								</div>
							</div>
						</div>

						<div class="work col-xs-4 groomsmen best upper">
							<div class="work-inner">
								<div class="work-img">
									<%= image_tag 'josh.jpg' %>
									<div class="mask">
										<a class="button zoom" href="assets/josh.jpg" data-rel="prettyPhoto[gallery]">Josh Kresge</a>
									</div>
								</div>
								<div class="work-desc">
									<h4>Best Man</h4>
									<p>Josh and Steve met in 8th grade. They've been friends pretty much ever since. Through countless fights, slap boxing matches, trips to the shore, football practices and much more, they've remained good friends throughout. Today they work together at a company Josh started while still in college, and they're still not sick of eachother...so that's cool.</p>
								</div>
							</div>
						</div>

						<div class="work col-xs-4 groomsmen family">
							<div class="work-inner">
								<div class="work-img">
									<%= image_tag 'matt.jpg' %>
									<div class="mask">
										<a class="button zoom" href="assets/matt.jpg" data-rel="prettyPhoto[gallery]">Matt Quatrani</a>
									</div>
								</div>
								<div class="work-desc">
									<h4>Groomsman</h4>
									<p>Matt is one of Steve's two older brothers. Whether it was "fighting" in the back yard after watching Ninja turtles together as little kids or getting into a wrestling match this year they have constantly had a brotherly competition that will hopefully never go away. Don't tell Matt this, but Steve wouldn't be the person he is today if it wasn't for Matt, and for that Steve is forever grateful.</p>
								</div>
							</div>
						</div>

						<div class="work col-xs-4 groomsmen family">
							<div class="work-inner">
								<div class="work-img">
									<%= image_tag 'mikeq.jpg' %>
									<div class="mask">
										<a class="button zoom" href="assets/mikeq.jpg" data-rel="prettyPhoto[gallery]">Mike Quatrani</a>
									</div>
								</div>
								<div class="work-desc">
									<h4>Groomsman</h4>
									<p>Mike has always been the bright one in the family (nerd). Steve has learned countless lessons and interesting facts from Mike (although he's not sure if falling out of a tree while Mike was teaching him how to be a spy counts). Nowadays they spend most of their time talking about technology and businesses, while scaring everyone else around them away. It's a fact: a conversation between these 2 can't be completed in less than an hour.</p>
								</div>
							</div>
						</div>

						<div class="work col-xs-4 groomsmen upper">
							<div class="work-inner">
								<div class="work-img">
									<%= image_tag 'shea.jpg' %>
									<div class="mask">
										<a class="button zoom" href="assets/shea.jpg" data-rel="prettyPhoto[gallery]">Shea Wisler</a>
									</div>
								</div>
								<div class="work-desc">
									<h4>Groomsman</h4>
									<p>Shea and Steve have been friends since middle school. They met while playing baseball while his Dad (BGB) was the coach. They've remained friends ever since whether it was shore trips to both of their houses, countless hours of $5 poker games at Shea's house, or partying together in college they have remained close.</p>
								</div>
							</div>
						</div>

						<div class="work col-xs-4 groomsmen tke college">
							<div class="work-inner">
								<div class="work-img">
									<%= image_tag 'kev.jpg' %>
									<div class="mask">
										<a class="button zoom" href="assets/kev.jpg" data-rel="prettyPhoto[gallery]">Kevin Reinhold</a>
									</div>
								</div>
								<div class="work-desc">
									<h4>Groomsman</h4>
									<p>Steve met Kevin freshman year of college when he looked like <a href="http://upload.wikimedia.org/wikipedia/en/8/87/ShaggyRogers.png" target="_blank"><u>this guy</u></a>. They pledged TKE together. The memories and lack there of are too numerous to list with this guy. Trips to AC, memorial day trips to the shore, and countless good times in college. Freshman year was the start of the good times, and from the looks of things they'll never end.</p>
								</div>
							</div>
						</div>

						<div class="work col-xs-4 groomsmen tke college">
							<div class="work-inner">
								<div class="work-img">
									<%= image_tag 'zeoli.jpg' %>
									<div class="mask">
										<a class="button zoom" href="assets/zeoli.jpg" data-rel="prettyPhoto[gallery]">Joe Zeoli</a>
									</div>
								</div>
								<div class="work-desc">
									<h4>Groomsman</h4>
									<p>Joe was a year younger than Steve when he joined TKE. They didn't really know eachother that well for the first couple years, but Joe came down the shore one memorial day weekend and it was a great time. Ever since then they became great friends. Whether it's talking web design, AC trips, or wheelchairs they have had so many good times together they can't remember (again..totally nothing to do with the amount of alcohol drank). BTW If Steve doesn't come back from his bachelor party...it's Joe's fault.</p>
								</div>
							</div>
						</div>

						<div class="work col-xs-4 groomsmen tke college">
							<div class="work-inner">
								<div class="work-img">
									<%= image_tag 'nico.jpg' %>
									<div class="mask">
										<a class="button zoom" href="assets/nico.jpg" data-rel="prettyPhoto[gallery]">Nico Miceli</a>
									</div>
								</div>
								<div class="work-desc">
									<h4>Groomsman</h4>
									<p>Nico, always the resident crazy guy. This guy puts 100% into whatever it is he decides he wants to do at the time. In college that was partying and Wanna drink. This guy would be out at the bar all night, running his college business Wanna Drink Promotions, and then wake up and somehow get to class on time. Now he got into the tech world, he put 110% in and he's now one of the top <a href="https://developers.google.com/experts/+NicoMiceli" target="_blank"><u>Google Analytics Experts</u></a> in the world...what?! Whether it's talking tech, hanging out, or going out and partying it's always a great time to be around Nico.</p>
								</div>
							</div>
						</div>

						<div class="work col-xs-4 groomsmen tke college">
							<div class="work-inner">
								<div class="work-img">
									<%= image_tag 'hall.jpg' %>
									<div class="mask">
										<a class="button zoom" href="assets/hall.jpg" data-rel="prettyPhoto[gallery]">Mike Hall</a>
									</div>
								</div>
								<div class="work-desc">
									<h4>Groomsman</h4>
									<p>Mike is Steve's oldest college friend. They actually met at orientation before college even started. Steve always said he'd never join a fraternity, Mike always wanted to join TKE. Eventually Steve was convinced by Mike and his friend from home that joining was the best option. So, for better or worse Mike is the reason Steve ended up joining TKE, growing as a person, becoming a leader, and having the time of his life. Steve has Mike to thank for all of that and much much more.</p>
								</div>
							</div>
						</div>

						<div class="work col-xs-4 groomsmen ">
							<div class="work-inner">
								<div class="work-img">
									<%= image_tag 'mikem.jpg' %>
									<div class="mask">
										<a class="button zoom" href="assets/mikem.jpg" data-rel="prettyPhoto[gallery]">Mike Mohan</a>
									</div>
								</div>
								<div class="work-desc">
									<h4>Groomsman</h4>
									<p>Mike and Steve would've been friends regardless of if Amanda was around or not. They met when Steve came up to Amanda's house freshman year and they immediately became friends (while Steve was beating "college" Mike in a game of beer pong). Mike is Steve's rock on Amanda's side of the family and he's forever grateful for all his help and all the fun that is to come.</p>
								</div>
							</div>
						</div>

						<div class="work col-xs-4 flower ">
							<div class="work-inner">
								<div class="work-img">
									<%= image_tag 'ash.jpg' %>
									<div class="mask">
										<a class="button zoom" href="assets/ash.jpg" data-rel="prettyPhoto[gallery]">Ashley Ally</a>
									</div>
								</div>
								<div class="work-desc">
									<h4>Flower Girl</h4>
									<p>Stephen and Amanda decided to just have one flower girl, Amanda's sister Ashley! Who better than the coolest and best kid ever?</p>
								</div>
							</div>
						</div>

						<div class="clear"></div>
					
					</div>
				
				</div>
				
			</div>	
	
	</section>
	
	<!--Contact Section -->
	<section id="hotel" class="contain nav-link">
				
			
				<!--Contact Form -->
				<div class="contact-form">
					<h2 style="color:white;">Hotel #1 <br /> All booked up!</h2>
					<a href="http://hiltongardeninn3.hilton.com/en/hotels/new-york/hilton-garden-inn-stony-brook-ISPSBGI/index.html" target="_blank"><img src="http://hiltongardeninn3.hilton.com/skins/en_US/GI/img/logo_brand_GI.png" /></a>
					<p style="color:white;font-size:24px;padding-top:15px;">Address:</p>
					<a href="https://www.google.com/maps/place/1+Circle+Rd,+Stony+Brook+University,+Stony+Brook,+NY+11790/@40.9136854,-73.1182355,17z/data=!3m1!4b1!4m2!3m1!1s0x89e83f2dfc8ff1ed:0x316a1ddcc4e2ee32" target="_blank">
						<p style="color:white;">1 Circle Road</p>
						<p style="color:white;">Stony Brook, New York, 11794</p>
					</a>
						<a href="tel:+16319412980" style="color:white;">(631) 941-2980</a>
					

					<h2 style="color:white;">Hotel #2</h2>
					<a href="http://www.ihg.com/holidayinnexpress/hotels/us/en/hauppauge/hpgny/hoteldetail" target="_blank"><img src="http://prodcache.internal.ihg.com/content/dam/etc/media_library/branded/ex/cn/logos/headerLogo.png" /></a>
					<p style="color:white;font-size:24px;padding-top:15px;">Address:</p>
					<a href="https://www.google.com/maps/place/2050+Express+Dr+S,+Hauppauge,+NY+11788/@40.8076384,-73.221345,17z/data=!3m1!4b1!4m2!3m1!1s0x89e830fb1291f3a9:0x2f691bdd57c00ebf" target="_blank">
						<p style="color:white;">2050 Express Drive South, </p>
						<p style="color:white;">Hauppauge, NY 11788</p>
					</a>
					<a href="tel:+16313481400" style="color:white;">(631) 348-1400</a>

					<p style="color:white;font-size:24px;padding-top:15px;">Room Block:</p>
					<p style="color:white;">We have a room block at both hotels for Friday May 29th and Saturday May 30th. When you call, the room block is under "AQW" or you can use our last names to get the rate.</p>
					<p style="color:white;font-size:24px;padding-top:15px;">Transportation:</p>
					<p style="color:white;">A bus will run from the both hotels to the venue before the ceremony and from the venue to each hotel at the end of the night.</p>
				</div><!-- End Contact Form -->
			
				<!-- Contact Top Icon -->
				<div class="contain-logo contact-logo">
					<i class="fa fa-map-marker "></i>
				</div>
				
			<!-- Google Map -->
			
			<div id="map"></div>
			<!-- End Google Map -->
			
	</section><!-- End Contact Section -->	

	<div class="inner services bottom-bg" style="margin-top:30px;">
		
			<div id="carousel-example-generic" class="carousel slide slide-s" data-ride="carousel">
			  <!-- Indicators -->
			 

			  <!-- Wrapper for slides -->
			  <div class="carousel-inner service-text" style="height:250px;">
				<div class="item active">
					<%= image_tag 'airplane.jpg' %>
				</div>

				<div class="item">
					<%= image_tag 'suitcase.jpg' %>
				</div>	

				<div class="item">
					<%= image_tag 'world.jpg' %>
				</div>	

				<div class="item">
					<%= image_tag 'passports.jpg' %>
				</div>	
			  </div>

			  <!-- Controls -->

			</div>
	</div>		
	<section id="registry" class="contain parallax nav-link">
		
			<div class="inner">
			
				<!-- why-wisten Top Icon -->
				<div class="contain-logo br">
					<i class="fa fa-gift "></i>
				</div>
				<div class="header fancy">
					Bridal Shower Registry
				</div><br />
				<!-- Iphone images -->
				<div class="w-iphone animated" data-animation="fadeInLeft" data-animation-delay="100">
					<%= image_tag 'glasses.jpg' %>
				</div>
				<div class="animated" data-animation="fadeInRight" data-animation-delay="100">
				<p style="font-size:46px;" class="honeymoontitle">Honeymoon <span>Registry</span></p><br />
				  <div class="accordion" id="accordion2" style="height:450px;">
				  	<div class="accordion-head" style="margin-bottom:15%;"></div>
					<a href="https://www.wanderable.com/hm/AllyQhoneymoon" target="_blank"><%= image_tag "registry.png", style: "margin-top:10%;margin-left:17%;" %></a>
					<p style="margin-top:30%; margin-left:28%;"><a href="https://www.wanderable.com/hm/AllyQhoneymoon" target="_blank"><b>(Click here to go to registry)</a></b></p>
				  </div>
				</div>
				<div class="clear"></div>
			</div>	
	
	</section>
	<br /><br /><br /><br />
	<div class="contain-logo br">
		<i class="fa fa-camera "></i>
	</div>
	<div class="header fancy contain nav-link" id="photos">
		Photo Gallery
	</div><br />
	<section id="photostack-3" class="photostack">
		<div>
			<figure>
				<a href="#" class="photostack-img"><%= image_tag 'dummy5.jpg' %></a>
				<figcaption>
					<h2 class="photostack-title">Phi Sig Formal Freshman year</h2>
					<div class="photostack-back">
						<p>This would be first of many Phi Sig formal's and man what a fun night it was. We were young, in love, in college. Life was carefree and great!</p>
					</div>
				</figcaption>
			</figure>
			<figure>
				<a href="#" class="photostack-img"><%= image_tag 'dummy2.jpg' %></a>
				<figcaption>
					<h2 class="photostack-title">Chug!</h2>
					<div class="photostack-back">
						<p>Erin Express is always an interesting time. Amanda and I know how to celebrate the holiday. Together or not we always met up and had a drink and always had fun.</p>
					</div>
				</figcaption>
			</figure>
			<figure>
				<a href="#" class="photostack-img"><%= image_tag 'dummy3.jpg' %></a>
				<figcaption>
					<h2 class="photostack-title">First Picture</h2>
					<div class="photostack-back">
						<p>This was one of our first nights at Drexel. We were hanging out with a couple friends before trying out the whole college party scene. I earned the nickname "Cheek Kissing Bandit" for this picture, but it didn't matter. I knew I met an amazing person.</p>
					</div>
				</figcaption>
			</figure>
			<figure>
				<a href="#" class="photostack-img"><%= image_tag 'dummy1.jpg' %></a>
				<figcaption>
					<h2 class="photostack-title">Ash and Us</h2>
					<div class="photostack-back">
						<p>After getting engaged we drove up to New York that Sunday to celebrate with Amanda's family. Ash was there to help us celebrate and we can't wait to have her as our flower girl!</p>
					</div>
				</figcaption>
			</figure>
			<figure>
				<a href="#" class="photostack-img"><%= image_tag 'dummy4.jpg' %></a>
				<figcaption>
					<h2 class="photostack-title">TKE Formal Freshman Year</h2>
					<div class="photostack-back">
						<p>This was our first of many formals together. It was a night of a lot of fun...although I don't think either of us remember enough to tell you...because of time gone by. Not the obscene amount of alcohol drank that night ;)</p>
					</div>
				</figcaption>
			</figure>
			<figure>
				<a href="#" class="photostack-img"><%= image_tag 'dummy6.jpg' %></a>
				<figcaption>
					<h2 class="photostack-title">Freshman Summer</h2>
					<div class="photostack-back">
						<p>This would be our last Summer ever! We each went our seperate way, but we had frequent trips to see eachother. How could I stay away from her for that long? This was a great end to a great weekend, watching the sunset together on the beach!</p>
					</div>
				</figcaption>
			</figure>
			<figure>
				<a href="#" class="photostack-img"><%= image_tag '7.jpg' %></a>
				<figcaption>
					<h2 class="photostack-title">TKE Senior Formal</h2>
					<div class="photostack-back">
						<p>By this point we knew eachother pretty well, and there was no holding back. All the weirdness came out, and this picture perfectly captures that.</p>
					</div>
				</figcaption>
			</figure>
			<figure data-dummy>
				<a href="#" class="photostack-img"><%= image_tag '8.jpg' %></a>
				<figcaption>
					<h2 class="photostack-title">TKE Sophomore Formal</h2>
				</figcaption>
			</figure>
			<figure>
				<a href="#" class="photostack-img"><%= image_tag '9.jpg' %></a>
				<figcaption>
					<h2 class="photostack-title">Italy</h2>
					<div class="photostack-back">
						<p>A month after getting engaged (and after Amanda thankfully passed her boards!) Amanda and Stephen took a trip to Italy. The airline lost our luggage, but it was still an amazing trip!</p>
					</div>
				</figcaption>
			</figure>
			<figure>
				<a href="#" class="photostack-img"><%= image_tag '10.jpg' %></a>
				<figcaption>
					<h2 class="photostack-title">Road Trip</h2>
					<div class="photostack-back">
						<p>Amanda took a field work at St. Judes in Memphis, and her family invited us on vacation in Disney around the same time. This meant one thing: ROAD TRIP! They took off and for 3 weeks drove around the South Eastern U.S. It was awesome!</p>
					</div>
				</figcaption>
			</figure>
			<figure data-dummy>
				<a href="#" class="photostack-img"><%= image_tag '11.jpg' %></a>
				<figcaption>
					<h2 class="photostack-title">Champagne to Celebrate!</h2>
				</figcaption>
			</figure>
			<figure data-dummy>
				<a href="#" class="photostack-img"><%= image_tag '12.jpg' %></a>
				<figcaption>
					<h2 class="photostack-title">Fun in the Ocean</h2>
				</figcaption>
			</figure>
			<figure data-dummy>
				<a href="#" class="photostack-img"><%= image_tag '14.jpg' %></a>
				<figcaption>
					<h2 class="photostack-title">Beer Olympics Fun</h2>
				</figcaption>
			</figure>
			<figure>
				<a href="#" class="photostack-img"><%= image_tag '15.jpg' %></a>
				<figcaption>
					<h2 class="photostack-title">The Girls at Beer Olympics</h2>
				</figcaption>
			</figure>
			<figure>
				<a href="#" class="photostack-img"><%= image_tag '16.jpg' %></a>
				<figcaption>
					<h2 class="photostack-title">The Guys at Beer Olympics</h2>
				</figcaption>
			</figure>
		</div>
		<div class="clear"></div>
	</section>
	<section id="social" class="description">

	<center>
		<h1 class="hashtag"><a href="http://ctt.ec/1fUea" target="_blank">#allyqwedding</a></h1>
		<p class="join">(Use our wedding hashtag when you instagram so we can have all our pictures memories here!)</p>

	</center>


	
	<div id="ig-container" class="js-masonry" data-masonry-options='{ "itemSelector": ".insta" }'>
	    <% @tags[0..15].each do |t| %>
			<div class="insta">
				<div class="insta-inner">
          <div class="insta-user">
            <%= link_to image_tag(t["user"]["profile_picture"]), "https://instagram.com/" + t["user"]["username"], target: "_blank" %>
            <%= link_to t["user"]["username"], "https://instagram.com/" + t["user"]["username"], target: "_blank" %>
            <%= link_to time_ago_in_words(Time.at(t["created_time"].to_i)) + " ago", "https://instagram.com/" + t["user"]["username"], target: "_blank", class: "pull-right"  %>
          </div>
					<div class="insta-img">
            <%= link_to image_tag(t["images"]["standard_resolution"]["url"]), t["link"], target: "_blank" %>
		    		</div>
		    		<div class="insta-desc">
              <% t["tags"].each do |i| %>
              <%= link_to "#" + i, "https://instagram.com/explore/tags/#{i}", target: "_blank" %>
              <% end %>
		    		</div>
				</div>
			</div>
	    <% end %>
	</div>
   

	</section>
	<section id="onceuponatime" class="contain nav-link">
		<%= image_tag 'onceuponatime.jpg' %>		
	</section><!-- End History Section -->
	
	<!-- Back To Top Button -->
	<section id="back-top">
		<a href="#home" class="scroll"></a>
	</section>
	<!-- End Back To Top Button -->

<%= javascript_include_tag 'flipclock.min.js' %>


	<script type="text/javascript">
			// Instantiate a coutdown FlipClock
			var clock = jQuery('.clock').FlipClock(new Date(Date.UTC(2015,4,30,17.5)).getTime() / 1000 - new Date().getTime() / 1000, {
				clockFace: 'DailyCounter',
				countdown: true
			});
	</script>

	<script>
		new Photostack( document.getElementById( 'photostack-3' ), {
			callback : function( item ) {
				//console.log(item)
			}
		} );
	</script>
	 <!-- End JS Files -->

	<script type="text/javascript"
	  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZvC1RcpqpTK8BWlNZP4ChTNALr8fNHhA">
	</script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-54327274-1', 'auto');
	  ga('send', 'pageview');

	</script>


	<script type="text/javascript">
	    var feed = new Instafeed({
	        get: 'tagged',
	        tagName: 'allyqwedding',
	        clientId: '5955ee46b6a94a98858da96ce6fddf04'
	    });
	    feed.run();
>>>>>>> origin/master
	</script>