<body data-spy="scroll" data-target=".nav-menu" data-offset="50">
	<!-- Navigation Section -->
	<section id="navigation" class="shadow">
	
		<div class="inner navigation">
			
			<!-- Logo Img -->
			<div class="logo">
				<a class="scroll" href="/#home"><%= image_tag 'logo.png', alt: "Logo" %></a>
			</div>
			
			<!-- Nav Menu -->
			<div class="nav-menu">
				
				<ul class="nav main-nav">
					<li><a class="scroll" href="/#about">where & when</a></li>
					<li><a class="scroll" href="/#history">our story</a></li>
					<li><a class="scroll" href="/#bridegroom">engagement story</a></li>					
					<li><a class="scroll" href="/#team">our team</a></li>
					<li><a class="scroll" href="/#hotel">hotel</a></li>
					<li><a class="scroll" href="/#registry">Registry</a></li>
					<li><a class="scroll" href="/#photos">Photo Gallery</a></li>
					<li><a class="scroll jade" style="color: #128E92;" href="/#social">#allyqwedding</a></li>			
				</ul>
				
			</div>
			
			
				<!-- Dropdown Menu For Mobile Devices-->
				<div class="dropdown mobile-drop">
				  <a data-toggle="dropdown" class="mobile-menu" href="#"><i class="fa fa-bars"></i></a>
				  <ul class="nav dropdown-menu fullwidth" role="menu" >
					<li><a class="scroll" href="/#home">home</a></li>
					<li><a class="scroll" href="/#about">where & when</a></li>
					<li><a class="scroll" href="/#history">our story</a></li>
					<li><a class="scroll" href="/#bridegroom">the bride & groom</a></li>					
					<li><a class="scroll" href="/#team">our team</a></li>
					<li><a class="scroll" href="/#hotel">hotel</a></li>
					<li><a class="scroll" href="/#register">Registry</a></li>
					<li><a class="scroll" href="/#photos">Photo Gallery</a></li>
					<li><a class="scroll" href="/#social">#allyqwedding</a></li>	
				  </ul>
				</div>
		
			<div class="clear"></div>
		</div>
	
	</section>
	<!-- End Navigation Section -->
  	<% flash.each do |name, msg| %>
	  <div class="alert alert-<%= name %> alert-dismissable" role="alert">
	    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
	  </div>
	<% end %>
  	<center>
		<h1 class="hashtag">Some of Your Friends Wanted to Wish You Well Today!</h1>

	    <div id="ig-container" class="instas">
		    <% @videos.each do |v| %>
				<div class="insta">
					<div class="insta-inner">
			          	<div class="insta-user">
				            <%= v.name %>
			          	</div>
						<div class="video">
	            			<%= v.video_html %>
			    		</div>
					</div>
				</div>
		    <% end %>
		</div>

		<%= paginate @videos %>
	</center>

	   	<script type="text/javascript">
   			$('iframe').css('width', '100%')
   		</script>